.recipeList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Відстань між картками */
  justify-content: space-between;
  padding: 20px;
}

.recipeCard {
  width: calc(
    33.33% - 16px
  ); /* Кожна картка займає третину ширини з відстанями */
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: center;

  &:hover {
    transform: scale(1.05); /* Збільшуємо картку при наведенні */
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  h3 {
    font-size: 18px;
    padding: 10px;
    color: #333;
  }

  p {
    padding: 0 10px 10px;
    color: #777;
  }
}

@media (max-width: 768px) {
  .recipeCard {
    width: calc(50% - 16px); /* 2 елементи в рядку на маленьких екранах */
  }
}

@media (max-width: 480px) {
  .recipeCard {
    width: 100%; /* 1 елемент в рядку на мобільних екранах */
  }
}
